{% extends 'base.html' %}

{% load static %} {% block title %}Log In{% endblock %} {% block content %}
<section class="form-container">
  <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>login now</h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="message message-{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <p>your email <span>*</span></p>
    <input
      type="email"
      name="email"
      placeholder="enter your email"
      required
      maxlength="50"
      class="box"
    />
    <p>your password <span>*</span></p>
    <input
      type="password"
      name="password"
      placeholder="enter your password"
      required
      maxlength="20"
      class="box"
    />
    <input type="submit" value="login new" name="submit" class="btn" />
  </form>
</section>
{% endblock %}
