{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="form-container">
  <form
    action="{% url 'register' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h3>register now</h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="message message-{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <p>your name <span>*</span></p>
    <input
      type="text"
      name="name"
      placeholder="enter your name"
      required
      maxlength="50"
      class="box"
    />
    <p>your email <span>*</span></p>
    <input
      type="email"
      name="email"
      placeholder="enter your email"
      required
      maxlength="50"
      class="box"
    />
    <p>your password <span>*</span></p>
    <input
      type="password"
      name="ps1"
      placeholder="enter your password"
      required
      maxlength="20"
      class="box"
    />
    <p>confirm password <span>*</span></p>
    <input
      type="password"
      name="ps2"
      placeholder="confirm your password"
      required
      maxlength="20"
      class="box"
    />
    <p>select profile</p>
    <input type="file" name="profile_pic" accept="image/*" class="box" />
    <input type="submit" value="register new" name="submit" class="btn" />
  </form>
</section>
{% endblock %}
